@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Nunito Sans', sans-serif;
  }

.stylish_font {
   font-family: 'Satisfy', cursive;;
}
  


.stylisy_text {
  font-family: 'Great Vibes', cursive;;
}